@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'switzer';
  src: url('@/assets/fonts/Switzer-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'switzer';
  src: url('@/assets/fonts/Switzer-Extrabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
